.submit-button-div {
    display: flex;
    justify-content: center;
}

.form-elements {
    display: flex;
    justify-content: center;
}


.add-card-form-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.title-add-card{
font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.padding-div{
    padding: 20px;
}
