/* TODO Add site wide styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.sidebar{
    /* padding-top: -6.4rem; */
    width: 20%;
    height: 100%;
    

}
.page-container{
    /* padding-top: 7rem; */
    /* width: 75%; */
    display: flex;

}
