.transaction-container{
    width: 85%;


}

.paid-message{
    color: #2F3033;
    font-size: 17px;
    /* font-size: 1rem; */
    /* font-family: Scto Grotesk A Medium; */
}

.transaction-div{
    padding-top: 15px;
    border-bottom: #2F3033 solid 1px;
    width: 662px;
    margin: 0 auto;
    padding-bottom: 40px;
    /* display: flex;
    justify-content: center; */
}

.all-transactions-div{
    padding-top: 90px;
    width: 100%;
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
