.homepage-container-div{
    width: 100%;
}


.nav-bar-div-splash {
    /* width: 1440px; */
    /* padding-top: 15px;
    padding-bottom: 15px; */
    height: 100px;
    border-bottom: lightgrey solid 1px;
}


.vendough-logo-splash {
    margin-top: 22px;

    color: #0074DE;
    font-size: 35px;
    font-weight: 900;
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.img-spash{
    /* max-width: 1440px; */
    width: 472px;
    height: 566px;
    position: absolute;
    right: 220px;
    top: 45px;

}

.img-container-splash{
    /* width: fit-content; */
    background-color: #E4F2FF;
    position: relative;
    height: 90vh;
}


.nav-bar-div-splash{
    display: flex;
    justify-content: space-evenly;
}

.log-in-navlink{
    color: #0074DE;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-self: center;
    padding-right: 5px;
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.log-in-plus-sign-up{
    display: flex;
    flex-direction: row;

}


.Get-vendough-div{
    display: flex;
    align-self: center;
    border: 1.5px black solid;
    border-radius: 25px;
    width: 142px;
    height: 44px;
    font-weight: 600;
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;



}

.get-vendough-text{
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-self: center;
    margin: 0 auto;
    color: black;
}

.Get-vendough-div:hover{
    background-color: #E4F2FF;
}

.built-with-tags{
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: flex;
    align-self: center;


}




.fast-safe-message{
    font-size: 70px;
    width: 495px;
    height: 222px;
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    top: 170px;
    left: 180px;
    font-weight: 450;
}

.p-tag-splash{
    width: 435px;
    height: 45px;
    position: absolute;
    bottom: 180px;
    left: 180px;
    font-family: "Scto Grotesk A", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}
