.details-container-transaction{
    padding-top: 110px;
    padding-left:309px;
}


.paid-message-and-notes-details{
    margin-left: 6px;
    width: 100%;
}


.details-container-transaction{
    margin: 0 auto;
}

.comments-div{
    border-top: 1px rgb(204,204,204) solid;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}
.comments-container{
    padding-left: 55px;
}


.comment-details-div{
    margin-left: 5px;
    width: 100%;
}

.timestamp-comment-details{
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.delete-comment{
    border: 0px transparent;
    background-color: transparent;
    color: #0074DE;
    font-family: "Scto Grotesk A","Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.comment-message-details{
    padding-top: 10px;
}
